.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p,
a,
button,
label,
input {
  font-size: 1.2em;
  text-align: center;
}
body {
  background-color: #008000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  border: 3px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/forumApp/static/images/honeycombBG.png');
  background-repeat: repeat-y;
  background-position: center;
  min-width: 700px;
  min-height: 200px;
  background-color: #ffca0a67;
  border-radius: 20%;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav a {
  margin: 1em;
  color: #000;
  text-decoration: none;
  background-color: #ffca0a;
  border: 3px groove #008000d7;
  padding: 0.5em;
}
body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
body .main .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .add .shopForm,
body .main .add .catForm,
body .main .add .prodForm {
  display: none;
  background-color: #ffca0a67;
  margin: 1em;
}
body .main .add .shopForm form,
body .main .add .catForm form,
body .main .add .prodForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .main .add .shopForm form section,
body .main .add .catForm form section,
body .main .add .prodForm form section {
  margin: 0.5em;
}
body .main .add form {
  background-color: #ffca0a67;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 20%;
}
body .main .add form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
body .main .add form section label {
  margin-right: 1em;
}
body .main .add form section input {
  text-align: left;
}
body .main .add form button {
  margin: 0.5em;
  background-color: #ffca0a;
  border: 3px groove #008000d7;
  padding: 0.5em;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 1em;
  background-image: url('/forumApp/static/images/honeycombBG.png');
  background-repeat: repeat-y;
  background-position: center;
  min-width: 700px;
  min-height: 200px;
  background-color: #ffca0a67;
  border-radius: 20%;
}
