.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p, a, button, label, input {
    font-size: 1.2em;
    text-align: center;
}

body {
    background-color: #008000;
    .flexcolumn();

    header {
        border: 3px solid black;
        padding: 1em;
        .flexcolumn();
        background-image: url('/forumApp/static/images/honeycombBG.png');
        background-repeat: repeat-y;
        background-position: center;
        min-width: 700px;
        min-height: 200px;
        background-color: #ffca0a67;
        border-radius: 20%;

        nav {
            .flexrow();

            a {
                margin: 1em;
                color: #000;
                text-decoration: none;
                background-color: #ffca0a;
                border: 3px groove #008000d7;
                padding: .5em;
            }
        }
    }
    .main {
        .flexcolumn();
        max-width: 700px;

        .text {
            .flexcolumn();
        }
        .add {
            .flexcolumn();
            margin: 1em;

            .shopForm, .catForm, .prodForm {
                display: none;
                background-color: #ffca0a67;
                margin: 1em;
                
                form {
                    .flexcolumn();
                    margin: 1em;

                    section {
                        margin: .5em;
                    }
                }
            }
            form {
                background-color: #ffca0a67;
                margin: 1em;
                .flexcolumn();
                padding: 1em;
                border-radius: 20%;

                section {
                    .flexrow();
                    margin: .5em;

                    label {
                        margin-right: 1em;
                    }
                    input {
                        text-align: left;
                    }
                }
                button {
                    margin: .5em;
                    background-color: #ffca0a;
                    border: 3px groove #008000d7;
                    padding: .5em;
                }
            }
        }
    }
    footer {
        .flexcolumn();
        border: 3px solid black;
        padding: 1em;
        background-image: url('/forumApp/static/images/honeycombBG.png');
        background-repeat: repeat-y;
        background-position: center;
        min-width: 700px;
        min-height: 200px;
        background-color: #ffca0a67;
        border-radius: 20%;
    }
}