<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.firstName}}'s Dashboard</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <h1>Welcome, {{user.firstName}} {{user.lastName}}</h1>
        <nav>
            <a href='/dashboard/'>Home</a>
            <a href='/forum/'>Forums</a>
            <a href='/work/'>Show it off</a>
            <a href='/logout/'>Log Out</a>
        </nav>
    </header>
    <div class='main'>
        <h2>Welcome to your profile page</h2>
        <h4>{{user.firstName}}</h4>
        <h4>{{user.lastName}}</h4>
        <h4>{{user.username}}</h4>
        <h4>{{user.email}}</h4>
        <a href='/profile/{{user.id}}/viewUser/'>Update your Information</a>
    </div>
    <footer>
        {% for foot in footer %}
        <h4>{{foot}}</h4>
        {% endfor %}
        <a href='/admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>