<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craft Hangout</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <h1>Welcome to the Craft Hangout</h1>
        <nav>
            <a href='/'>Sign In</a>
            <a href='/register/'>Register</a>
        </nav>
    </header>
    <div class='main'>
        <div class='text'>
            <h2>We are glad you found our page.</h2>
            <p>We have created a place for Craft Lovers like yourself to come and hang out.  Leave a post on the forum or post a picture of your latest works</p>
        </div>
        <div class='add'>
            {% if messages %}
            <section class='messages'>
                {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            </section>
            {% endif %}
            <form action='/login/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='username'>Username</label>
                    <input name='username' id='username' type='text'>
                </section>
                <section>
                    <label for='password'>Password</label>
                    <input name='password' id='password' type='password'>
                </section>
                <button>Sign In</button>
            </form>
        </div>
    </div>
    <footer>
        {% for foot in footer %}
            <h4>{{foot}}</h4>
        {% endfor %}
        <a href='/admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>