<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.firstName}}'s Profile</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <h1>Welcome, {{user.firstName}} {{user.lastName}}</h1>
        <nav>
            <a href='/dashboard/'>Home</a>
            <a href='/forum/'>Forums</a>
            <a href='/work/'>Show it off</a>
            <a href='/logout/'>Log Out</a>
        </nav>
    </header>
    <div class='main'>
        <div class='add'>
            <form action='/profile/{{user.id}}/updateUser/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='firstName'>First Name:</label>
                    <input type='text' name='firstName' id='firstName' value='{{user.firstName}}'>
                </section>
                <section>
                    <label for='lastName'>Last Name:</label>
                    <input type='text' name='lastName' id='lastName' value='{{user.lastName}}'>
                </section>
                <section>
                    <label for='username'>Username:</label>
                    <input type='text' name='username' id='username' value='{{user.username}}'>
                </section>
                <section>
                    <label form='email'>Email Address:</label>
                    <input type='email' name='email' id='email' value='{{user.email}}'>
                </section>
                <button>Update Profile</button>
            </form>
        </div>
    </div>
</body>
</html>