<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <h1>Welcome to the Craft Hangout</h1>
        <nav>
            <a href='/'>Sign In</a>
            <a href='/register/'>Register</a>
        </nav>
    </header>
    <div class='main'>
        <div class='text'>
            <h2>We are glad you found our page.</h2>
            <p>We have created a place for Craft Lovers like yourself to come and hang out.  Leave a post on the forum or post a picture of your latest works</p>
        </div>
        <div class='add'>
            {% if messages %}
            <section class='messages'>
                {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            </section>
            {% endif %}
            <form action='/createUser/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='firstName'>First Name:</label>
                    <input type='text' name='firstName' id='firstName'>
                </section>
                <section>
                    <label for='lastName'>Last Name:</label>
                    <input type='text' name='lastName' id='lastName'>
                </section>
                <section>
                    <label for='username'>Username:</label>
                    <input type='text' name='username' id='username'>
                </section>
                <section>
                    <label form='email'>Email Address:</label>
                    <input type='email' name='email' id='email'>
                </section>
                <section>
                    <label for='password'>Password:</label>
                    <input type='password' name='password' id='password'>
                </section>
                <section>
                    <label for='confirm'>Confirm Password</label>
                    <input type='password' name='confirm' id='confirm'>
                </section>
                <button>Submit and Login</button>
            </form>
        </div>
    </div>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
        <a href='/admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>